body {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: rgb(200, 200, 200) !important;
}

a:hover {
  color: rgb(50, 200, 150) !important;
}

#my-image {
  max-width: 200px;
}

#my-presentation {
  border: 1px solid rgb(50, 200, 150);
  border-radius: 20px;
  padding: 20px;
}

#my-navbar {
  border-bottom: 1px solid rgb(50, 200, 150);
  background: rgb(20, 20, 20);
}

#my-navbar:hover {
  color: rgb(50, 200, 150) !important;
}

.my-card-description {
  display: inline-block;
  margin: 0 5px 0 0;
  font-weight: bold;
}

.my-card-img {
  cursor: pointer;
}

footer {
  border-top: 1px solid rgb(50, 200, 150);
  background: rgb(20, 20, 20);
}

.contact {
  padding: 20px;
  display: inline-block;
}
